@font-face {
    font-family: 'Varela';
    src: url(./VarelaRound-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;

    font-family: 'Varela', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;

    font-size: 1.75rem;

    background-color: #def2f1;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    gap: 70px;
}

.title {
    color: #17252a;
    font-size: 3rem;
}

/* game options */
.choice, .play-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 60px;

    border-radius: 10px;

    font-size: 1.5rem;
    cursor: pointer;
    
    text-align: center;
}

.choices {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.choice {
    border: 2px solid black;
}

.choice:hover {
    background-color: #dddddd;
}

.choice:active {
    background-color: #bbb;
}

.choice.selected {
    color: white;
    background-color: rgb(151, 149, 149);
}

/* play button */

.play-button {
    width: 200px;
    height: 60px;
    background-color: #2b7a78;
    color: white;
    border: none;

    display: none;
}

.play-button:hover {
    background-color: #40a7a5;
    color: white;
}

.play-button:active {
    background-color: #245c5c;
}


/* board */
.board {
    width: min(500px, 75%);
    height: min(500px, auto);

    border-radius: 10px;

    padding: 20px;

    display: none;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    justify-content: center;

    gap: 15px;
}

.square {
    background-color: #b5c8cf;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #2b3a3a;
    font-size: 3.5rem;

    cursor: pointer;
}

.square:hover {
    background-color: #c8dbe2;
}

@media screen and (min-width: 600px) and (min-height:600px) {
    .board {
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: repeat(3, 125px);
    }
    .square {
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 900px) and (min-height:900px){
    .board {
        grid-template-columns: repeat(3, 175px);
        grid-template-rows: repeat(3, 175px);
    }

    .square {
        font-size: 6rem;
    }
}

/* for making elements appear/disappear */

.active-flex {
    display: flex;
}

.active-grid {
    display: grid;
}

.active-block {
    display: block;
}

.inactive {
    display: none;
}